/*---------header -------------*/

/* sfondo header di pagina*/
header{
    background-image: url(./img/pattern.png) ;
    background-repeat:repeat-x;
    background-color: #6495ED;
    height:250px;
}
/*posizione e grandezza logo*/
.logo{
    height: 100px;
    padding-top: 150px;
    padding-left: 5%;
    background-color: noone;
}
/*contenitore immagine logo
.logo-position{
    background-color: noone;
    height: 100%;
}*/
/*--------------main-----------*/

/*misure e spaziature corpo della pagina e font family*/
main{
    padding-left: 8%;
    padding-right: 8%;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
 
}
/*formattazione titolo principale*/
h1{
    font-size: xxx-large;
    font-weight: 800;
    margin-bottom: 0%;
}
/*autore*/
details{
    padding-top: 2px;
    color: #D3D3D3 ;
}
#booleaner{
    background-color: white;
    color: cornflowerblue;
}
/*formattazione immagini e didascalia*/
frame{
    width: 84%;
}
figcaption{
    font-size: medium;
}
/*evidenzia*/
mark{
    color: #000000;
}
/*formattazione paragrafo*/
p, li{
    font-size: x-large;
}
/*li{
    font-size: x-large;
}*/
/* table stile*/
table{
    padding-top: 30x;
    font-size: x-large;
    border: 0px;
    border-spacing: 0px;
    text-align: left;
}
thead{
    background-color: #6495ED;
    padding: 0px;
    height:min-content;
}
.t-color{
    background-color: #87CEFA;
}
.col-size1{
    width: 20%;
}
.col-size2{
    width: 60%;
}
/*-------------footer----------*/
